<div class="container row">
  <h2>Add Item</h2>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <label for="itemName" class="form-label">Item Name</label>
        <input
          type="text"
          id="itemName"
          class="form-control"
          formControlName="itemName"
        />
        <div
          *ngIf="
            itemForm.get('itemName')?.invalid &&
            itemForm.get('itemName')?.touched
          "
          class="text-danger"
        >
          Item Name is required.
        </div>
      </div>
      <div class="col-md-6">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select" formControlName="category">
          <ng-container *ngFor="let category of categoryOptions">
            <option [value]="category">{{ category }}</option>
          </ng-container>
        </select>
        <div
          *ngIf="
            itemForm.get('category')?.invalid &&
            itemForm.get('category')?.touched
          "
          class="text-danger"
        >
          Category is required.
        </div>
        <span>
          <button class="btn btn-secondary">Add New Category</button>
        </span>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <label for="itemPriceWithoutTax" class="form-label"
          >Item Price (Without Tax)</label
        >
        <input
          type="number"
          id="itemPriceWithoutTax"
          class="form-control"
          formControlName="itemPriceWithoutTax"
        />
        <div
          *ngIf="
            itemForm.get('itemPriceWithoutTax')?.invalid &&
            itemForm.get('itemPriceWithoutTax')?.touched
          "
          class="text-danger"
        >
          Item Price is required and must be greater than 0.
        </div>
      </div>
      <div class="col-md-6">
        <label for="taxPercentage" class="form-label"
          >Tax in % (Percentage)</label
        >
        <input
          type="number"
          id="taxPercentage"
          class="form-control"
          placeholder="Eg. 18"
          formControlName="taxPercentage"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <label for="itemPriceWithTax" class="form-label"
          >Item Price (With Tax)</label
        >
        <input
          type="number"
          id="itemPriceWithTax"
          class="form-control"
          formControlName="itemPriceWithTax"
          [readonly]="true"
        />
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Item Image</label>
        <input
          type="file"
          id="image"
          class="form-control"
          (change)="onImageChange($event)"
        />
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid">
      Submit
    </button>
  </form>
</div>
